<nav class="navbar navbar-login-theme shadow">
  <div class="container-fluid">
    <div class="row w-100 align-items-center">
      <!-- Primera columna: Logo -->
      <div class="col-auto">
        <a class="navbar-brand-rcd" href="/">
           <img src="/img/Logo.png" alt="Logo" class="d-inline-block align-text-top p-2">
        </a>
      </div>   
      
      <!-- Segunda columna: Título -->
      <div class="col text-center">
{{!--         <h5 class="mt-1">
          <i class="bi bi-journal-text"></i>&nbsp;Directorio
        </h5> --}}
      </div>
      
      <!-- Tercera columna: Interruptor de tema -->
      <div class="col-auto d-flex justify-content-end align-items-center">
        <i class="bi bi-brightness-high me-3 text-light"></i>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="switchThemeColor">
          <label class="form-check-label" for="switchThemeColor"></label>
        </div>
        <i class="bi bi-moon ms-2 text-light "></i>
      </div>
    </div>
  </div>
</nav>
