<nav class="navbar navbar-login-theme">
    <div class="container-fluid">
        <div class="row w-100 align-items-center">
            <!-- Primera columna: Logo -->
            <div class="col-auto">
                <a class="navbar-brand-rcd" href="/login">
                    <img src="/img/Logo.png" alt="Logo" class="d-inline-block align-text-top p-2">
                </a>
            </div>
        </div>
    </div>
</nav>